/* resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    html,
    body {
        overflow: hidden;
    }
}

@media (max-width: 1023px) {
    html,
    body {
        overflow: auto;
    }
}

:root {
    /* Light Theme Colors */
    --color-primary: #4f46e5;
    --color-secondary: #f59e0b;
    --color-background: #ffffff;
    --color-text: #1f2937;
}

/* Dark Theme Overrides */
[data-theme='dark'] {
    --color-primary: #6366f1;
    --color-secondary: #fcd34d;
    --color-background: #1f2937;
    --color-text: #f3f4f6;
}
